<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/catalogo.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body class="container">
        <h1>Catálogo de videojuegos</h1>
        <button id="but_agregar" class="btn btn-success mb-3" type="button">+</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody id="data_videojuegos">
                <% videojuegos.forEach((vj) => { %> 
                    <tr>
                        <td><%= vj.codigo %></td>
                        <td><%= vj.nombre %></td>
                        <td><%= vj.categoria %></td>
                        <td><%= vj.precio %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a class="btn btn-success" href="index.html">Regresar</a>
    </body>
    <div class="modal fade" id="modal_crear_videojuego" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear Videojuego</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label class="form-label">Nombre</label>
                            <input id="input_nombre" type="text" class="form-control" />
                        </div>
                        <div>
                            <label class="form-label">Precio</label>
                            <input id="input_precio" type="number" class="form-control" />
                        </div>
                        <div>
                            <label class="form-label">Categoría</label>
                            <select id="select_categoria" class="form-select">
                                <option value="-1">Seleccione una categoría</option>
                            </select>
                        </div>
                        <div id="mensajes" class="mt-3">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="modal_but_cancelar" class="btn btn-success" type="button">
                        Cancelar
                    </button>
                    <button id="modal_but_grabar" class="btn btn-success" type="button">
                        Grabar
                    </button>
                </div>
            </div>
        </div>
    </div>
</html>