<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/catalogo.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/styles/index.css" rel="stylesheet"  />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body class="container">
        <%- include('header') %>
        <form action="/catalogo/add" method="POST">
            <div>
                <label class="form-label">Nombre</label>
                <input id="input_nombre" name="vj_name" type="text" class="form-control" />
            </div>
            <div>
                <label class="form-label">Precio</label>
                <input id="input_precio" name="vj_price" type="number" class="form-control" />
            </div>
            <div>
                <label class="form-label">Categoría</label>
                <select id="select_categoria" name="vj_category" class="form-select">
                    <option value="-1">Seleccione una categoría</option>
                    <% categorias.forEach((cat) => { %>
                        <option value="<%= cat.id %>"><%= cat.name %></option>
                    <% }) %>
                </select>
            </div>
            <div id="mensajes" class="mt-3">
            </div>
            <div class="modal-footer">
                <button id="modal_but_cancelar" class="btn btn-success" type="button">
                    Cancelar
                </button>
                <button id="modal_but_grabar" class="btn btn-success" type="submit">
                    Grabar
                </button>
            </div>
        </form>
    </body>

</html>