h1 {
    font-family: 'Train One', Arial, sans-serif;
    font-size: 3em;
}
.titulos {
    background-color: rgb(34, 155, 98);
}
.titulos:hover {
    background-color: blue;
}

img {
    width: 100%;
}